* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background: #edeff1;
}
footer {
  text-align: center;
  font-size: 13px;
}
#root {
  width: 375px;
  height: 750px;
  background: #2e2e36;
  border-radius: 30px;
  box-shadow: 10px 10px 30px rgb(174, 174, 192, 0.5);
  margin: 60px auto;
  padding: 30px;
}
.Auth {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 100px;
}
.Auth img {
  width: 40%;
  height: auto;
  margin-bottom: 80px;
}

.loginForm .login {
  width: 100%;
  height: 40px;
  border: none;
  margin-bottom: 10px;
  padding-left: 4%;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.loginbtn {
  background-color: #2f6cf6;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.loginbtn:hover {
  background-color: #2759ce;
  transition: all 0.3s;
}
.create {
  display: block;
  text-align: right;
  cursor: pointer;
  margin-top: 5px;
  color: #fefefe;
  margin-bottom: 130px;
}
.create:hover {
  color: #2f6cf6;
  transition: all 0.3s;
}
.authError {
  color: red;
}
.socialLogin {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.socialLogin button {
  width: 100%;
  height: 40px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(117, 119, 126);
  color: #fff;
  cursor: pointer;
}
.socialLogin button:hover {
  background-color: rgb(94, 95, 99);
  color: #fff;
  transition: all 0.3s;
}
.moment {
  width: 100%;
  height: auto;
  margin-top: 5px;
}
.moment .prev {
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.moment .next {
  float: right;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.moment .printMoment {
  display: inline-block;
  margin-left: 100px;
  color: #fff;
  font-weight: lighter;
}
.budget {
  width: 100%;
  height: auto;
  margin-top: 110px;
}
.name {
  color: rgb(237, 237, 237);
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: lighter;
}
.money {
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
}
.money2 {
  color: #fff;
  margin-top: -5px;
  font-size: 20px;
  margin-bottom: 100px;
}
.moneyInput {
  width: 100%;
  height: 40px;
  margin-bottom: 295px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-left: medium none;
  border-right: medium none;
  border-top: medium none;
  color: #fff;
  font-size: 20px;
}
.moneyInput:focus {
  outline: none;
}
.updateDeleteBtn {
  border: none;
  border-radius: 10px;
  width: 48%;
  height: 40px;
  padding: 10px;
  background-color: #2f6cf6;
  color: #fff;
  cursor: pointer;
}
.updateDeleteBtn:hover {
  background-color: #2759ce;
  transition: all 0.3s;
}
.updateDeleteBtn:nth-of-type(2) {
  float: right;
  background-color: #717377;
}
.updateDeleteBtn:nth-of-type(2):hover {
  background-color: #606368;
}
.budgetBtn {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #2f6cf6;
  color: #fff;
  cursor: pointer;
}
.budgetBtn:hover {
  background-color: #2759ce;
  transition: all 0.3s;
}
.set {
  width: 100%;
  height: 120px;
}
.myBudgets {
  width: 47%;
  height: auto;
  background-color: #3d3d49;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  float: left;
}
.myBudgets2 {
  margin-right: 5%;
  width: 47%;
  height: auto;
  background-color: #3d3d49;
  margin-top: 30px;
  padding: 10px;
  float: left;
  border-radius: 10px;
}
.myBudget {
  color: #fff;
  text-align: center;
}
.myBudget:nth-of-type(1) {
  margin-bottom: 8px;
  margin-top: 3px;
}
.bar {
  width: 100%;
  height: 1px;
  background-color: #636377;
  margin-bottom: 5px;
  margin-top: 15px;
}
.recode {
  width: 100%;
  height: auto;
}
.recodeP {
  margin-bottom: 10px;
  color: #fff;
}
.recode span img {
  width: 6%;
  float: right;
  height: auto;
  cursor: pointer;
}
.recodeForm {
  width: 100%;
  height: auto;
}
.recodeForm p {
  color: rgb(231, 231, 231);
  margin-top: 50px;
  margin-bottom: 15px;
}
.dateInput {
  width: 100%;
  cursor: pointer;
  background-color: #3d3d49;
  border: 1px solid #3d3d49;
  border-radius: 10px;
  padding: 15px 15px;
  color: rgb(231, 231, 231);
}
.useTxt {
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  background-color: #3d3d49;
  border: 1px solid #3d3d49;
  color: rgb(231, 231, 231);
  padding: 12px 12px;
  margin-bottom: 170px;
}
.dateInputUpdate {
  width: 100%;
  cursor: pointer;
  background-color: #3d3d49;
  border: 1px solid #3d3d49;
  border-radius: 10px;
  padding: 15px 15px;
  color: rgb(231, 231, 231);
}
.dateInputUpdate::placeholder {
  color: rgb(231, 231, 231);
}
.useTxtUpdate {
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  background-color: #3d3d49;
  border: 1px solid #3d3d49;
  color: rgb(231, 231, 231);
  padding: 12px 12px;
  margin-bottom: 170px;
}
.useTxtUpdate::placeholder {
  color: rgb(231, 231, 231);
}
.recodes {
  width: 100%;
  height: 495px;
  overflow-y: scroll;
}
.recodeList {
  cursor: pointer;
}
.recodeList .list:hover {
  background-color: #212127;
  transition: all 0.3s;
}
.recodeList .list {
  color: #fff;
  margin-bottom: 15px;
  width: 100%;
  height: 50px;
  background-color: #3d3d49;
  padding: 15px;
  border-radius: 10px;
  font-weight: lighter;
}
.recodeList .list:nth-of-type(1) {
  margin-top: 10px;
}
.recodeList .list span:nth-of-type(1) {
  display: block;
  width: 30%;
  float: left;
}
.recodeList .list span:nth-of-type(2) {
  display: block;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  text-align: center;
}
.recodeList .list span:nth-of-type(3) {
  display: block;
  width: 20%;
  text-align: right;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
